.code.white {
  @import '../white_base';

  @include conflict-colors('white');
  @include hljs-override('symbol', $white-ss);
}

:root {
  --default-diff-color-deletion: #eb919b;
  --default-diff-color-addition: #a0f5b4;
}